@using Integracja.Server.Web.Areas.Pytania.Models.Shared
@using static Integracja.Server.Web.Areas.Pytania.Models.Shared.QuestionFormViewModel
@using static Integracja.Server.Web.Areas.Pytania.Models.Shared.IQuestionFormActions
@using static Integracja.Server.Web.Models.Shared.Enums.ViewMode
@model QuestionFormViewModel

<link rel="stylesheet" href="~/css/Pytania/_QuestionForm.css" />

<form id="@Ids.Form" asp-route-categoryId="@Model.Question.CategoryId">

    <input type="hidden" asp-for="Question.Id" />
    <input type="hidden" asp-for="Question.CategoryId" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mt-5">
        <label asp-for="Question.Content" class="control-label"></label>
        <textarea asp-for="Question.Content" class="form-control"></textarea>
        <span asp-validation-for="Question.Content" class="text-danger"></span>
    </div>

    @*tworzenie odpowiedzi do pytania*@
    <h2>Odpowiedzi</h2>
    <br />

    <div class="row">
        @for (int i = 0; i < Model.Question.Answers.Count; ++i)
        {
            <div class="form-group col-12 col-md-6 col-lg-3">

                <div class="row">
                    <div class="col-11 pr-0 mr-0">
                        <input asp-for="Question.Answers[i].Content" class="form-control" />
                    </div>

                    <div class="col-1 pl-0 pr-0 ml-0 d-flex flex-column justify-content-center">
                        <input asp-for="Question.Answers[i].IsCorrect" class="form-check" type="checkbox" />
                    </div>
                </div>

            </div>
        }
    </div>

    <div class="form-group mb-5">
        <input type="submit" asp-action="@nameof(IQuestionFormActions.AddAnswerField)" asp-route-categoryId="@Model.Question.CategoryId" formnovalidate value="Dodaj odpowiedź" class="btn btn-light save-scroll" />
        <input type="submit" asp-action="@nameof(IQuestionFormActions.RemoveAnswerField)" asp-route-categoryId="@Model.Question.CategoryId" formnovalidate value="Usuń odpowiedź" class="btn btn-light save-scroll" />
    </div>

    <h2>Punktacja</h2>
    <br />

    @*
        <div class="form-group">
                <h4>Za dobrą odpowiedź</h4>
                <input asp-for="Question.PositivePoints" type="number" class="form-control input-number"
                       step="1"
                       min="1"
                       max="10" />
            </div>

            <div class="form-group">
                <h4>Za złą odpowiedź</h4>
                <input asp-for="Question.NegativePoints" type="number" class="form-control input-number"
                       step="1"
                       min="-10"
                       max="0" />
            </div>
    *@

    <div class="points-form form-group">

        <script type="text/javascript" src="~/js/Pytania/_QuestionForm.js"></script>
        <script src="~/js/Pytania/_QuestionForm.js" asp-append-version="true"></script>

        <div class="form-group">
            <h4>Za dobrą odpowiedź</h4>
            <div class="points">
                <input class="range mr-3" asp-for="Question.PositivePoints" type="range" min="1" max="10" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)">
                @if (@Model.Question.PositivePoints == 0)
                {
                    <span id="rangeValue" class="rangeValue"> 1 </span>
                }
                else
                {
                    <span id="rangeValue" class="rangeValue"> @Model.Question.PositivePoints </span>
                }
            </div>
        </div>

        <div class="form-group">
            <h4>Za złą odpowiedź</h4>
            <div class="points">
                <input class="range mr-3" asp-for="Question.NegativePoints" type="range" min="-10" max="0" onChange="rangeSlide2(this.value)" onmousemove="rangeSlide2(this.value)">
                <span id="rangeValue2" class="rangeValue"> @Model.Question.NegativePoints </span>
            </div>
        </div>

    </div>

    <h4>Tryb</h4>
    <div class="form-group">
        <div class="radio">
            <label class="radio">
                <input asp-for="Question.Scoring" value="@Integracja.Server.Core.Enums.QuestionScoring.ScoreIfFullyCorrect" type="radio" checked>
                Całkowity - punkty będą przyznane za pytanie
            </label>
        </div>
        <div class="radio">
            <label class="radio">
                <input asp-for="Question.Scoring" value="@Integracja.Server.Core.Enums.QuestionScoring.ScorePerGoodAnswer" type="radio">
                Cząstkowy - punkty będą przyznane za każdą odpowiedź z osobna
            </label>
        </div>
    </div>

    <br />

    <div class="form-group">
        @if (Model.ViewMode == Creating)
        {

            <input type="submit" value="Dodaj pytanie" class="btn btn-primary"
                   asp-action="@nameof(IQuestionFormActions.QuestionCreate)"
                   asp-route-categoryId="@Model.Question.CategoryId" />
            <input type="reset" value="Zresetuj" class="btn btn-danger" />
        }
        @if (Model.ViewMode == Updating)
        {
            <input type="submit" value="Dodaj jako nowe pytanie" class="btn btn-primary"
                   asp-action="@nameof(IQuestionFormActions.QuestionCreate)"
                   asp-route-categoryId="@Model.Question.CategoryId" />

            <input type="submit" value="Zaaktualizuj pytanie" class="btn btn-primary"
                   asp-action="@nameof(IQuestionFormActions.QuestionUpdate)"
                   asp-route-categoryId="@Model.Question.CategoryId" />
        }
    </div>

</form>

