@using Integracja.Server.Web.Models.Shared.Question
@model QuestionModel


<div class="container">

    <h4 class="card-title mb-5">@Model.CategoryName</h4>

    <p class="card-subtitle mb-2 text-muted question">@Model.Content</p>


        <ul class="row mb-4">
            @foreach (var ans in Model.Answers)
            {
                <li class="col-3">

                        <p class="card-text"
                           style="@(ans.IsCorrect ? "color: green; font-weight: bold;" : "" )">
                            @ans.Content
                        </p>

                </li>
            }
        </ul>


        @if (Model.Scoring == Integracja.Server.Core.Enums.QuestionScoring.ScoreIfFullyCorrect)
        {
            <p class="question">Punkty za pytanie:</p>
        }
        else
        {
            <p class="question">Punkty za odpowiedzi:</p>
        }


    <div class="row text-center">
        <div class="col-6">
            <p>Poprawna odpowiedź</p>
            <p>@Model.PositivePoints</p>
        </div>
        <div class="col-6">
            <p>Niepoprawna odpowiedź</p>
            <p>@Model.NegativePoints</p>
        </div>
    </div>

</div>
