@using Integracja.Server.Web.Models.Shared.Question
@using Integracja.Server.Web.Areas.Pytania.Models.Shared
@model QuestionTableViewModel

<div class="table-wrapper-scroll-y">
    <table id="table_id" class="table table-sm data-table table-card-layout" style="table-layout: fixed; width: 100%">
        <thead>
            <tr>
                <th scope="col">Kategoria: </th>
                <th scope="col">Rodzaj punktacji: </th>
                <th scope="col">Akcje: </th>
                <th scope="col">Treść: </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.Questions)
            {
                <tr>
                    <td>@question.CategoryName</td>
                    <td>
                        @if (question.Scoring == Integracja.Server.Core.Enums.QuestionScoring.ScoreIfFullyCorrect)
                        {
                            <text>Całkowita</text>
                        }
                        else
                        {
                            <text>Cząstkowa</text>
                        }
                    </td>
                    <td>
                        <a asp-action="@nameof(IQuestionTableActions.GotoQuestionRead)" asp-route-questionId="@question.Id">Szczegóły</a>
                        @if (!Model.ReadActionsOnly || User.IsInRole("Administrator"))
                        {
                            @Html.Raw(" | ");
                            <a asp-action = "@nameof(IQuestionTableActions.GotoQuestionUpdate)" asp-route-questionId = "@question.Id" > Edycja </a>
                            @Html.Raw(" | ");
                            <a asp-action = "@nameof(IQuestionTableActions.GotoQuestionDelete)" asp-route-questionId = "@question.Id" asp-route-categoryId = "@question.CategoryId" > Usuń </a>
                        }
                    </td>
                    <td class="d-lg-table-cell">@question.Content</td>
                </tr>
            }
        </tbody>
    </table>
</div>