@using Integracja.Server.Web.Models.Shared.Question
@model QuestionModel


<div class="card-body">

    <h4 class="card-title">@Model.CategoryId</h4>
    <br />

    <div class="scroll-300">

        <p class="card-subtitle mb-2 text-muted">@Model.Content</p>

        <ul>
            @foreach (var ans in Model.Answers)
            {
                <li>
                    <p class="card-text"
                       style="@(ans.IsCorrect ? "color: green" : "" )">
                        @ans.Content
                    </p>
                </li>
            }
        </ul>

    </div>

    <div class="text-center">
        @if (Model.Scoring == Integracja.Server.Core.Enums.QuestionScoring.ScoreIfFullyCorrect)
        {
            <p>Punkty za pytanie</p>
        }
        else
        {
            <p>Punkty za odpowiedzi</p>
        }
    </div>

    <div class="row text-center">
        <div class="col-6 ">
            <p class="font-weight-bold">Poprawna odpowiedź</p>
            <p>@Model.PositivePoints</p>
        </div>
        <div class="col-6">
            <p class="font-weight-bold">Niepoprawna odpowiedź</p>
            <p>@Model.NegativePoints</p>
        </div>
    </div>

</div>

