@using Integracja.Server.Web.Areas.Pytania.Models.Question
@using Integracja.Server.Web.Areas.Pytania.Models.Shared
@using static Integracja.Server.Web.Areas.Pytania.Models.Question.QuestionViewModel
@using static Integracja.Server.Web.Areas.Pytania.Models.Question.IQuestionActions
@using static Integracja.Server.Web.Models.Shared.Enums.ViewMode
@model QuestionViewModel

@{ await Html.RenderPartialAsync("~/Views/Shared/Alerts/_AlertsList.cshtml", Model.Alerts);}

<link rel="stylesheet" href="~/css/Pytania/Question.css" />
<link rel="stylesheet" href="~/css/Shared/Buttons.css" />

<div class="container-fluid dodaj_pytanie mb-5 pt-4 pb-5 pr-5 pl-5">

    <div class="row bord">
        <div class="col-2 d-flex flex-row justify-content-between">
            <a class="btn btn-primary" asp-action="@Model.GoBackActionName" asp-route-categoryId="@Model.Form.Question.CategoryId">
                Wyjdź
            </a>
        </div>
        <p class="title col-8 mt-2">Pytanie</p>
    </div>
    <br />

    <h2>Kategoria: <span id="category">@Model.Form.Question.CategoryName</span></h2>

    @if (Model.Form.ViewMode == Integracja.Server.Web.Models.Shared.Enums.ViewMode.Creating)
    {
        <a class="btn btn-primary mt-2"
           asp-action="@nameof(IQuestionActions.QuestionCreateCategoryUpdate)"
           asp-route-categoryId="@Model.Form.Question.CategoryId">
            Zmień kategorię
        </a>
        <br />
    }


    <div>
        @{ await Html.RenderPartialAsync("~/Areas/Pytania/Views/Shared/_QuestionForm.cshtml", Model.Form);
        }
    </div>


</div>


