@using Integracja.Server.Web.Areas.Pytania.Models.Shared
@using Integracja.Server.Web.Models.Shared.Question
@model QuestionDetailsViewModel

    <div class="row">
        <div class="col-lg-4">
            <div class="card">

                <div class="card">
                    @{ await Html.RenderPartialAsync("~/Areas/Pytania/Views/Shared/_QuestionCard.cshtml", Model.Question); }
                </div>

                <div class="card-footer">
                    <a asp-action="@Model.GoBackActionName" asp-route-categoryId="@Model.Question.CategoryId" class="card-link">Wróć</a>
                    <a asp-action="@nameof(IQuestionCardActions.GotoQuestionUpdate)" asp-route-questionId="@Model.Question.Id" class="card-link">Edytuj</a>
                    <a asp-action="@nameof(IQuestionCardActions.GotoQuestionDelete)" asp-route-questionId="@Model.Question.Id" asp-route-categoryId="@Model.Question.CategoryId" class="card-link">Usuń</a>
                </div>

            </div>
        </div>
    </div>