@using Integracja.Server.Web.Models.DodajPytania
@using Integracja.Server.Web.Models.Shared.Question
@model DodajPytaniaViewModel

@{
    ViewData["Title"] = "View";
}
<h1>Dodaj pytania</h1>
<br />

<div class="row">

    @*wybór i dodawanie kategorii*@
    <div class="col-md-3">
        <h2>Kategorie</h2>
        <br />

        @*tabela z przeglądem kategorii i możliwością wyboru*@
        <div class="input-group">
            <div class="form-outline">
                <input type="search" placeholder="Nazwa kategorii" class="form-control" />
            </div>
            <button type="button" class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <br />
        <div class="table-wrapper-scroll-y scrollbar-secondary">
            <table class="table table-bordered table-striped table-sm ">
                <thead>
                    <tr>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Ilość pytań</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr>
                            <td>
                                <button type="submit" class="btn btn-light" form="@QuestionViewModel.FormId" asp-action="@DodajPytaniaViewModel.ActionNames.CategoryRead" asp-route-id="@category.Id">
                                    @category.Name
                                </button>
                            </td>
                            <td>@category.QuestionsCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*dodawanie kategorii*@
        <form id="CategoryForm" asp-action="@DodajPytaniaViewModel.ActionNames.CategoryCreate" asp-controller="DodajPytania">
            <div class="form-group">
                <input asp-for="NewCategory.Name" placeholder="Nazwa twojej kategorii" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="categoryCreateScript()">
                    Dodaj kategorię
                </button>
            </div>
        </form>

        <script type="text/javascript">
            saveQuestionForm = function (callback) {
                return $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("SaveQuestionForm")",
                        data: $("#@QuestionViewModel.FormId").serialize(),
                        success: callback
                    }
                );
            }
            categoryCreateScript = function () {
                saveQuestionForm(function () {
                    $("#CategoryForm").submit();
                });
            }
        </script>

    </div>    

    @*tworzenie pytania*@
    <div class="col-md-7">
        @{ await Html.RenderPartialAsync("~/Views/Shared/_Question.cshtml", Model.QuestionViewModel); }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
