@using Integracja.Server.Web.Areas.PanelAdmina.Models.Home
@model HomeViewModel

<h2>Pytania</h2>
<div class="table-wrapper-scroll-y scrollbar-secondary">
    <table class="table table-bordered table-striped table-sm ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID właściciela</th>
                <th scope="col">Nazwa właściciela</th>
                <th scope="col">ID kategorii</th>
                <th scope="col">Publiczna</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.Questions)
            {
                <tr>
                    <td>@question.Id</td>
                    <td>@question.OwnerId</td>
                    <td>@question.OwnerUsername</td>
                    <td>@question.CategoryId</td>
                    <td>@question.IsPublic</td>
                    <td>
                        <a asp-action="QuestionUpdate" asp-route-id="@question.Id">Edycja</a> |
                        <a asp-action="QuestionDelete" asp-route-id="@question.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>