@using Integracja.Server.Web.Areas.PanelAdmina.Models.Questions
@using Integracja.Server.Web.Models.Shared.Question
@using static Integracja.Server.Web.Areas.PanelAdmina.Models.Questions.QuestionsViewModel
@using static Integracja.Server.Web.Areas.PanelAdmina.Models.Questions.IQuestionsActions
@model QuestionsViewModel

<h2>Pytania</h2>
<br />

<div class="table-wrapper-scroll-y scrollbar-secondary">
    <table class="table table-bordered table-striped table-sm ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID właściciela</th>
                <th scope="col">Nazwa właściciela</th>
                <th scope="col">ID kategorii</th>
                <th scope="col">Publiczna</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.Questions)
            {
                <tr>
                    <td>@question.Id</td>
                    <td>@question.OwnerId</td>
                    <td>@question.OwnerUsername</td>
                    <td>@question.CategoryId</td>
                    <td>@question.IsPublic</td>
                    <td>
                        <a id="@question.Id" data-toggle="modal" data-target="#@Ids.Modal" onclick="showQuestionModal(@question.Id)">Podgląd</a> |
                        <a asp-action="@NameOfQuestionRead" asp-route-id="@question.Id">Edycja</a> |
                        <a asp-action="@NameOfQuestionDelete" asp-route-id="@question.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="@Ids.Modal" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @* scroller psuje *@
                @*
                    <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                    </div>
                *@
                <div id="@Ids.ModalContent"></div>
            </div>
        </div>
    </div>
</div>

<script>
    showQuestionModal = function (id) {
        $("#@Ids.ModalContent").load("@Url.Action(NameOfQuestionReadToModal)", { id: id });
    }
</script>

<br />
@{
    string h2String = "Stwórz pytanie";
    if (Model.QuestionViewModel.Question != default(QuestionModel)) // ==/!= not implemented actually
        h2String = "Edytuj pytanie";
}
<h2>@h2String</h2>
<br />
<div>
    @{ await Html.RenderPartialAsync("~/Views/Shared/Question/_Question.cshtml", Model.QuestionViewModel);}
</div>