@using Integracja.Server.Web.Areas.Historia.Models
@using Integracja.Server.Web.Areas.Gry.Controllers
@using Integracja.Server.Web.Areas.Gry.Models.Shared
@model HomeViewModel

@section Scripts
{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="~/js/Historia/Index.js"></script>
}

<link rel="stylesheet" href="~/css/Historia/Index.css" />
<link rel="stylesheet" href="~/css/Shared/Buttons.css" />


<a id="back" class="btn btn-primary" href="@Url.Action(nameof(IHomeNav.EndedGames),HomeController.Name, new { area = "Gry" })"> Wróć </a>


@{ await Html.RenderPartialAsync("~/Areas/Gry/Views/Shared/_GameSettings2.cshtml", Model.Game.Settings); }

<div class="container-fluid historia p-4 mt-4">

    <p class="title"> Ranking graczy </p>
    
    <div class="info">
        <div class="table-wrapper-scroll-y">
            <table class="table data-table-games" style="table-layout: fixed; width: 100%">
                <colgroup>
                    <col style="word-wrap: break-word; width: 10%;">
                    <col style="word-wrap: break-word; width: 45%;">
                    <col style="word-wrap: break-word; width: 25%;">
                    <col style="word-wrap: break-word; width: 20%;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Miejsce</th>
                        <th scope="col">Nazwa użytkownika</th>
                        <th scope="col">Liczba punktów</th>
                        <th scope="col">Akcje</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var i in Model.GameUsers)
                    {
                        <tr>
                            <td> @i.place  </td>
                            <td> @i.Username </td>
                            <td> @i.gameuser.GameScore </td>
                            <td>
                                <a class="link" asp-action="HistoryUserReadView" asp-route-gameId="@i.gameuser.GameId" asp-route-userId="@i.gameuser.UserId"> Zobacz szczegóły </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid historia p-4 mt-4 mb-5">

    <p class="title"> Pytania </p>

    <div class="info">
        <div class="table-wrapper-scroll-y">
            <table id="users" class="table data-table-games" style="table-layout: fixed; width: 100%">
                <colgroup>
                    <col style="word-wrap: break-word; width: 10%;">
                    <col style="word-wrap: break-word; width: 70%;">
                    <col style="word-wrap: break-word; width: 20%;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col"> Numer </th>
                        <th scope="col"> Treść </th>
                        <th scope="col"> Akcje </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var i in Model.GameQuestions.Select((value, index) => new { value, index }))
                    {
                        <tr>
                            <td> @(i.index + 1)  </td>
                            <td style="word-wrap: break-word;"> @i.value.content </td>
                            <td class="link">
                                <a asp-action="HistoryQuestionReadView" asp-route-gameId="@Model.gameId" asp-route-questionId="@i.value.questionId"> Zobacz szczegóły </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



