@using Integracja.Server.Web.Areas.Historia.Models
@model HomeViewModel

<link rel="stylesheet" href="~/css/Historia/Index.css" />
<script type="text/javascript" src="~/js/konto/index.js"></script>

<div class="container-fluid historia p-4">

    <p class="title"> Informacje o grze </p>

    <div class="info">
        <div class="row">
            <div class="col-6 pr-5">
                <div class="float-right">
                    <p> <span class="titles"> Nazwa gry: </span> @Model.Game.Settings.Name </p>
                    <p> <span class="titles"> Tryb gry: </span> @Model.Game.Settings.Gamemode.Name </p>
                    <p> <span class="titles"> Czas na quiz: </span> @Model.Game.Settings.Gamemode.TimeForFullQuiz min </p>
                    <p> <span class="titles"> Czas na pytanie: </span> @Model.Game.Settings.Gamemode.TimeForOneQuestion min </p>
                </div>
            </div>
            <div class="col-6">
                <p> <span class="titles"> Czas rozpoczęcia: </span> @Model.Game.Settings.StartTime </p>
                <p> <span class="titles"> Czas zakończenia: </span> @Model.Game.Settings.EndTime </p>
                @if (@Model.Game.Settings.Gamemode.NumberOfLives == 0)
                {
                    <p> <span class="titles"> Liczba żyć: </span> bez limitu </p>
                }
                else
                {
                    <p> <span class="titles"> Liczba żyć: </span> @Model.Game.Settings.Gamemode.NumberOfLives </p>
                }
                @if (@Model.Game.Settings.Gamemode.IsPublic)
                {
                    <p> <span class="titles"> Status gry: </span> publiczny </p>
                }
                else
                {
                    <p> <span class="titles"> Liczba żyć: </span> prywatny </p>
                }
            </div>
        </div>
    </div>
    



</div>
