@using Integracja.Server.Web.Areas.TrybyGry.Models.GamemodeForGame
@using static Integracja.Server.Web.Areas.TrybyGry.Models.GamemodeForGame.GamemodeForGameViewModel
@using static Integracja.Server.Web.Areas.TrybyGry.Models.GamemodeForGame.IGamemodeForGameActions
@model GamemodeForGameViewModel

<h2>Wybierz tryb gry</h2>
<br />

<a class="btn btn-primary"
   asp-action="@nameof(IGamemodeForGameActions.GotoGameCreate)"
   asp-route-gamemodeId="@Model.SelectedGamemode">
    Dalej...
</a>
<br />
<br />

<div class="table-wrapper-scroll-y">
    <table id="table_id" class="table table-bordered table-striped table-sm ">
        <thead>
            <tr>
                <th scope="col">Nazwa gry</th>
                <th scope="col">Liczba żyć</th>
                <th scope="col">Czas na quiz</th>
                <th scope="col">Czas na pytanie</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Gamemodes.Count; ++i)
            {
                <tr>
                    <td>
                        <a asp-action="@nameof(IGamemodeForGameActions.GamemodeRead)" asp-route-id="@Model.Gamemodes[i].Id">
                            @Model.Gamemodes[i].Name
                        </a>
                    </td>
                    <td>@Model.Gamemodes[i].NumberOfLives</td>
                    <td>@Model.Gamemodes[i].TimeForFullQuiz</td>
                    <td>@Model.Gamemodes[i].TimeForOneQuestion</td>
                    <td>
                        <a asp-action="@nameof(IGamemodeForGameActions.GamemodeUpdateView)" asp-route-id="@Model.Gamemodes[i].Id">Edytuj</a> |
                        <a asp-action="@nameof(IGamemodeForGameActions.GamemodeDelete)" asp-route-id="@Model.Gamemodes[i].Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />

<h2>Lub stwórz nowy</h2>
<br />

<div>
    <a class="btn btn-primary"
       asp-action="@nameof(IGamemodeForGameActions.GamemodeCreateView)">
        Stwórz nowy tryb gry
    </a>
</div>
<br />