@using Integracja.Server.Web.Areas.PanelAdmina.Models
@model PanelAdminaViewModel

<h2>Użytkownicy</h2>
<div class="table-wrapper-scroll-y scrollbar-secondary">
    <table class="table table-bordered table-striped table-sm ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Email</th>
                <th scope="col">Usunięty</th>
                <th scope="col">Zablokowany</th>
                <th scope="col">Koniec blokady</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.IsDeleted</td>
                    <td>@user.LockoutEnabled</td>
                    <td>@user.LockoutEnd</td>
                    <td>
                        <a asp-action="UserDelete" asp-route-id="@user.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>