@model QuestionViewModel

<h2>@Model.Title</h2>
<br />
<form asp-controller="@Model.Controller" asp-action="QuestionAdd" asp-route-id="@Model.QuestionForm.CategoryId">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="QuestionForm.QuestionContent" class="control-label"></label>
        <textarea asp-for="QuestionForm.QuestionContent" class="form-control"></textarea>
        <span asp-validation-for="QuestionForm.QuestionContent" class="text-danger"></span>
    </div>

    @*tworzenie odpowiedzi do pytania*@
    <h2>Odpowiedzi</h2>
    <br />
    
    @for (int i = 0; i < Model.QuestionForm.Answers.Count; ++i)
    {
        <div class="form-group">
            <div class="form-inline">

                <input asp-for="QuestionForm.Answers[i].Content" class="form-control" />

                <input asp-for="QuestionForm.Answers[i].isCorrect" class="form-check" type="checkbox" />
            </div>
        </div>
    }

    @* TODO: przyciski do dodawania/usuwania pól odpowiedzi *@
    @if (Model.EditMode)
    {
        <div class="form-group">
            <input type="submit" asp-action="AnswerFieldAdd" formnovalidate value="Dodaj nową odpowiedź" class="btn btn-light"/>
            <input type="submit" asp-action="AnswerFieldAdd" formnovalidate value="Usuń odpowiedź" class="btn btn-light"/>
        </div>
    }

    <h2>Punktacja</h2>
    <br />

    <div class="form-group">
        <input asp-for="QuestionForm.PositivePoints" type="number" class="form-control input-number" />
    </div>

    <h4>Tryb</h4>
    <div class="form-group">
        <div class="radio">
            <label class="radio">
                <input asp-for="QuestionForm.Scoring" value="@Integracja.Server.Core.Enums.QuestionScoring.ScoreIfFullyCorrect" type="radio" checked>
                Tylko za komplet poprawnych odpowiedzi
            </label>
        </div>
        <div class="radio">
            <label class="radio">
                <input asp-for="QuestionForm.Scoring" value="@Integracja.Server.Core.Enums.QuestionScoring.ScorePerGoodAnswer" type="radio">
                Za pojedynczą poprawną odpowiedź
            </label>
        </div>
    </div>

    <h4>Złe odpowiedzi</h4>

    <div class="form-group">
        <input asp-for="QuestionForm.NegativePoints" type="number" class="form-control input-number" />
    </div>

    <br />

    <div class="form-group">
        <input type="submit" value="Dodaj pytanie" class="btn btn-primary" />
    </div>
</form>
