@using Integracja.Server.Web.Areas.Pytania.Models.Home
@using static Integracja.Server.Web.Areas.Pytania.Models.Home.HomeViewModel
@using static Integracja.Server.Web.Areas.Pytania.Models.Home.IHomeActions
@model HomeViewModel

@{ await Html.RenderPartialAsync("~/Areas/Pytania/Views/Shared/_QuestionAlert.cshtml", Model.Alert);}

<h2>Pytania</h2>
<br />

<div class="table-wrapper-scroll-y">
    <table id="table_id" class="table table-bordered table-striped table-sm ">
        <thead>
            <tr>
                <th scope="col">Treść</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Twoje</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.Questions)
            {
                <tr>
                    <td>@question.Content</td>
                    <td>@question.CategoryId</td>
                    <td>@(!question.IsPublic)</td>
                    <td>
                        <a asp-action="@nameof(IHomeActions.GotoQuestionRead)" asp-route-id="@question.Id">Szczegóły</a> |
                        <a asp-action="@nameof(IHomeActions.GotoQuestionUpdate)" asp-route-id="@question.Id">Edycja</a> |
                        <a asp-action="@nameof(IHomeActions.GotoQuestionDelete)" asp-route-id="@question.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />

<div>
    <a class="btn btn-primary"
       asp-action="@nameof(IHomeActions.GotoQuestionCreate)">
        Stwórz nowe pytanie
    </a>
</div>

