@using Integracja.Server.Web.Models.Shared.Game
@model GameQuestionFormViewModel

<form>
    <div class="row">

        <div class="col-md-6">

            <h2>Pytania do wyboru</h2>
            <br />

            <div class="table-wrapper-scroll-y scrollbar-secondary">
                <table class="table table-bordered table-striped table-sm ">
                    <thead>
                        <tr>
                            <th scope="col">Treść</th>
                            <th scope="col">Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Questions.Count; ++i)
                        {
                            <tr>
                                <td>@Model.Questions[i].Content</td>
                                <td>
                                    <a asp-action="@nameof(IGameQuestionFormActions.GameQuestionCreate)" asp-route-id="@Model.Questions[i].Id">Dodaj</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
        </div>

        @*Tabela wybranych pytań*@

        <div class="col-md-6">

            <h2>Wybrane pytania</h2>
            <br />

            <div class="table-wrapper-scroll-y scrollbar-secondary">
                <table class="table table-bordered table-striped table-sm ">
                    <thead>
                        <tr>
                            <th scope="col">Treść</th>
                            <th scope="col">Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.GameQuestions.Count; ++i)
                        {
                            <tr>
                                <td>@Model.GameQuestions[i].Content</td>
                                <td>
                                    <a asp-action="@nameof(IGameQuestionFormActions.GameQuestionDelete)" asp-route-id="@Model.GameQuestions[i].Id">Usuń</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
        </div>
    </div>

    <button type="submit" class="btn btn-primary" asp-action="@nameof(IGameQuestionFormActions.QuestionPoolCreate)">Zatwierdź pytania</button>

</form>


