@using Integracja.Server.Web.Areas.Gry.Models.Shared
@model GameQuestionsFormViewModel

    <form>

        <p id="title"> Pytania do wyboru </p>
        <br />

        <div class="table-wrapper-scroll-y">
            <table id="gameQuestionsTable" class="table" style="table-layout: fixed; width: 100%">
                <colgroup>
                    <col style="word-wrap: break-word; width: 75%;">
                    <col style="word-wrap: break-word; width: 15%;">
                    <col style="word-wrap: break-word; width: 10%;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Treść</th>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Questions.Count; ++i)
                    {
                        <tr>
                            <td class="d-lg-table-cell" style="word-wrap: break-word;">@Model.Questions[i].Content</td>
                            <td style="word-wrap: break-word;">@Model.Questions[i].CategoryName</td>
                            <td>

                                <input type="checkbox" class="form-control form-control-sm" name="gameQuestionCheckbox" data-question-id="@Model.Questions[i].Id" />
                            </td>
                        </tr>
                    }
                </tbody>

                @* potrzebne do filtrowania kolumn! *@
                <tfoot>
                    <tr>
                        <th>Kategoria: </th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>

            </table>
        </div>
        <br />

        @{
            string postUrl = Url.Action(nameof(IGameQuestionsFormActions.GameQuestionsCreate));
            string redirectUrl = Url.Action("Index", "Home");
        }
        <button id="gameQuestionsCreateBtn" data-post-url="@postUrl" data-redirect-url="@redirectUrl" type="button" class="btn btn-primary">Zatwierdź pytania</button>
        <div>
            <span id="gameQuestionsValidationMessage" class="text-danger"></span>
        </div>
        

    </form>



