@using Integracja.Server.Web.Areas.Gry.Models.Shared
@model GameSettingsFormViewModel

@*Pozostałe proste parametry gry*@

<form asp-controller="Game" asp-area="Gry" asp-action="@nameof(IGameSettingsFormActions.GameSettingsCreate)" method="post">
    <input type="hidden" asp-for="Settings.Gamemode.Id" />

    <div class="row">
        <div class="form-group col-md-3">
            <h4>Nazwa gry</h4>
            <input asp-for="Settings.GameName" class="form-control" />
            <span asp-validation-for="Settings.GameName" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <h4>Czas rozpoczęcia</h4>
            <input asp-for="Settings.StartDate" value="@DateTime.Now" class="form-control" />
            <span asp-validation-for="Settings.StartDate" class="text-danger"></span>
            <input asp-for="Settings.StartTime" value="@DateTime.Now" class="form-control" />
            <span asp-validation-for="Settings.StartTime" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <h4>Czas zakończenia</h4>
            <input asp-for="Settings.EndDate" value="@DateTime.Now" class="form-control" />
            <span asp-validation-for="Settings.EndDate" class="text-danger"></span>
            <input asp-for="Settings.EndTime" value="@DateTime.Now" class="form-control" />
            <span asp-validation-for="Settings.EndTime" class="text-danger"></span>
        </div>
    </div>

    <div class="row col-md-3">
        <div class="form-group">
            <h4>Losować kolejność pytań?</h4>
            <input asp-for="Settings.RandomizeQuestionOrder" type="checkbox" class="form-control" />
        </div>
    </div>

    <div class="row col-md-3">
        <div class="form-group">
            <h4>Maksymalna liczba graczy</h4>
            <input asp-for="Settings.MaxPlayersCount" type="number" min="0" class="form-control"/>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Zatwierdź ustawienia"/>

</form>


