@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Konfiguracja aplikacji uwierzytelniającej";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>Aby używać aplikacji uwierzytelniającej wykonaj poniższe kroki:</p>
    <ol class="list">
        <li>
            <p>
               Pobierz aplikację uwierzytelniającą taką jak Microsoft Authenticator dla systemów
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> i
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> albo
                Google Authenticator dla
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> i
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Zeskanuj kod QR albo wprowadź klucz <kbd>@Model.SharedKey</kbd> do twojej aplikacji uwierzytelniającej. Spacje i wielkość liter nie mają znaczenia.</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Gdy kod QR został już raz zeskanowany lub powyższy kod został wprowadzony twoja dwuskładnikowa aplikacja
                uwierzytelniająca wygeneruje ci unikalny kod. Wprowadź ten kod poniżej.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Kod weryfikujący</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Weryfikuj</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" src="~/lib/qrcode/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 250,
                height: 250
            });
    </script>
}
